<div class="my-5">
  <h1 class="fw-bold text-center">Weil es um <span class="text-green">deine Daten</span> geht</h1>
  <p class="text-start">
    Vor allem im Umgang mit Gesundheitsdaten spielt Datenschutz eine besonders wichtige Rolle. Da uns Datenschutz sehr
    am Herzen liegt, ist der gesamte Code der App <b>öffentlich einsehbar</b>. Weiters werden alle deine Daten <b>offline
    und
    lokal ausschließlich auf deinem Gerät</b> gespeichert (mit Ausnahme von der Apple
    Wallet- und der Share-Funktion, die allerdings beide optional zu verwenden sind).
  </p>

  <h2 class="fw-bold fs-4 text-green mt-5">Welche Daten werden bei der Verwendung der App erfasst?</h2>

  <p>Sämtliche Daten werden lokal und offline auf deinem Gerät gespeichert und verarbeitet, mit der Ausnahme dieser
    optionalen Funktionen: <a href="#">Apple Wallet-Funktion</a> und <a href="#">Share-Funktion</a>.</p>
  <p>Neue öffentliche Schlüssel von den jeweiligen EU-Staaten werden sowie jegliche anderen Verbindungen verschlüsselt
    per HTTPS übertragen.</p>
  <h3 class="fw-bold fs-5 mt-2" id="apple-wallet">Apple Wallet-Funktion</h3>
  <p>
    Das Zertifikat muss aus technischen Gründen temporär auf unseren Server verifiziert und signiert werden. In diesem
    Prozess werden keine Daten gespeichert.</p>

  <p>Deine Daten werden in einem PassKit File zur Nutzung im Apple Wallet gespeichert. Bitte beachte, dass diese nach
    dem Speichern möglicherweise über Apples Clouddienst iCloud synchronisiert werden. Mehr zum Datenschutz von Apple
    findest du hier:

    <a target="_blank"
       href="https://www.apple.com/at/legal/privacy/de-ww/">https://www.apple.com/at/legal/privacy/de-ww</a>

  </p>
  <h3 class="fw-bold fs-5 mt-2">Share-Funktion</h3>

  Um anderen Personen den 3G Zustand zu übermitteln müssen Daten temporär gespeichert werden.
  Es werden jedoch nur die absolut notwendigen Informationen solange wie notwendig gespeichert.
  Die Daten werden somit gespeichert bis der Nutzer es löscht, was er jederzeit machen kann oder das Zertifikat
  abläuft.
  Die Daten werden nicht verarbeitet oder an dritte weitergegeben.
  Natürlich kann jeder den Quellcode des Programmes ansehen um dies nachzuprüfen um jedoch auch für alle
  Entwickler:innen Transparenz zu schaffen möchten wir hier jegliche Daten die gespeichert werden auflisten.

  <ul>
    <li>Vor- und Nachname</li>
    <li>Geburtsdatum</li>
    <li>Ablaufdatum</li>
    <li>Bei Impfung
      <ul>
        <li>die wievielte Impfung</li>
        <li>wieviele Impfungen notwendig sind</li>
        <li>wann das letzte und erste Mal geimpft worden ist</li>
      </ul>
    </li>
    <li>Bei Genesung
      <ul>
        <li>Datum bis Gültigkeit</li>
      </ul>
    </li>
    <li>Bei Testung
      <ul>
        <li>Typ des Tests</li>
        <li>Datum wann getestet wurdet</li>
      </ul>
    </li>
  </ul>


  <h2 class="fw-bold fs-4 text-green mt-5">Welche Daten werden bei der Verwendung dieser Website erfasst?</h2>
  <p>
    Der Serverbetreiber dieser Website verarbeitet Daten, die zur Auslieferung der Website notwendig sind. IP-Adressen
    werden mittels Masking anonymisiert. Mehr dazu in der Datenschutzerklärung des Betreibers.
    Es werden <b>keine Tracing Service</b> wie Google Analytics genutzt.

  </p>
  <h3 class="fw-bold fs-5 mt-2">Webhosting</h3>
  <p>Diese Website verwendet den Hosting-Dienst Uberspace. Dieser Dienstleister erstellt Webserver‑Protokolle, die Datum
    und Uhrzeit, den abgerufenen URL-Pfad, ggf. den Referrer sowie den verwendeten Browser enthalten; deine IP-Adresse
    wird allerdings mittels IP-Masking anonymisiert, so dass keine personenbezogenen Daten vorliegen. Mehr zum
    Datenschutz von Uberspace gibt es hier: <a href="https://uberspace.de/de/about/privacy/" target="_blank">https://uberspace.de/de/about/privacy</a></p>


  <h2 class="fw-bold fs-4 text-green mt-5">Werden meine Daten an Dritte weitergegeben?</h2>
  <p>Nein, deine Daten werden nicht an Dritte weitergegeben.</p>


  <h2 class="fw-bold fs-4 text-green mt-5">Was bedeutet Open Source?</h2>
  <p>Wie bereits erwähnt ist der gesamte Sourcecode der App öffentlich zugänglich und jedes kleine Update kannst du dir
    auf unserem GitHub-Respository ansehen. Wenn das bei einem Projekt der Fall ist, dann spricht man von einem
    sogenannten
    OpenSource-Projekt.</p>

  <h3 class="fw-bold fs-5">Welchen Vorteil hat Open Source?</h3>
  <p>Open Source hat den Vorteil, dass jede:r einsehen kann, was mit den eigenen Daten geschieht. Weiters bietet man
    damit Entwickler:innen die Möglichkeit sich am Projekt zu beteiligen. Das Projekt wird somit laufend von der
    Community verbessert, gewartet und weiterentwickelt. Wir sind schon gespannt, wie sich dieses Projekt
    weiterentwickeln wird!</p>

</div>
