<div class="my-5 max-w-1000">
  <h1 class="fw-bold text-center py-4">{{ 'PRIVACY.HEADLINE.HEADLINE1' | translate }} <span
    class="text-green">{{ 'PRIVACY.HEADLINE.HEADLINE2' | translate }}</span> {{ 'PRIVACY.HEADLINE.HEADLINE3' | translate }}
  </h1>
  <p class="text-start px-3">
    {{ 'PRIVACY.EXCERPT.TEXT1' | translate }} <a href="https://github.com/GreenPassApp"
                                                 target="_blank">{{ 'PRIVACY.EXCERPT.TEXT2' | translate }}</a>
    <span
      class="fw-bold"> {{ 'PRIVACY.EXCERPT.TEXT3' | translate }}</span>.</p>

  <p class="pb-4 px-3">{{ 'PRIVACY.EXCERPT.TEXT4' | translate }} <span
    class="fw-bold">{{ 'PRIVACY.EXCERPT.TEXT5' | translate }}</span>
    {{ 'PRIVACY.EXCERPT.TEXT6' | translate }}
  </p>

  <div class="faq">
    <button class="faq__header shadow-sm isClosed" (click)="faqOpenClose($event)">
      <span class="fw-bold fs-6 pe-none">{{ 'PRIVACY.APP.QUESTION' | translate }}</span>
      <i class="fas fa-chevron-right"></i>
    </button>
    <div class="faq__content isClosed">
      <p>{{ 'PRIVACY.APP.ANSWER1' | translate }} <a
        href="#">{{ 'PRIVACY.APP.ANSWER2' | translate }}</a> {{ 'PRIVACY.APP.ANSWER3' | translate }} <a
        href="#">{{ 'PRIVACY.APP.ANSWER4' | translate }}</a>.</p>
      <p>{{ 'PRIVACY.APP.ANSWER5' | translate }}</p>

      <h3 class="fw-bold fs-6 pt-3 mt-2" id="apple-wallet">{{ 'PRIVACY.APP.ANSWER6' | translate }}</h3>
      <p>{{ 'PRIVACY.APP.ANSWER7' | translate }}</p>

      <p>{{ 'PRIVACY.APP.ANSWER8' | translate }}
        <a target="_blank"
           href="{{ 'PRIVACY.APP.ANSWER9' | translate }}">{{ 'PRIVACY.APP.ANSWER9' | translate }}</a>
      </p>
      <h3 class="fw-bold fs-6 pt-3 mt-2">{{ 'PRIVACY.APP.ANSWER10' | translate }}</h3>

      <p>{{ 'PRIVACY.APP.ANSWER11' | translate }}</p>
      <p>{{ 'PRIVACY.APP.ANSWER12' | translate }} <a href="{{ 'PRIVACY.APP.ANSWER13' | translate }}"
                                                     target="_blank">{{ 'PRIVACY.APP.ANSWER13' | translate }}</a>
      </p>
      <p>{{ 'PRIVACY.APP.ANSWER14' | translate }}</p>
      <ul>
        <li>{{ 'PRIVACY.APP.DATA1' | translate }}</li>
        <li>{{ 'PRIVACY.APP.DATA2' | translate }}</li>
        <li>{{ 'PRIVACY.APP.DATA3' | translate }}</li>
        <li>{{ 'PRIVACY.APP.DATA4' | translate }}
          <ul>
            <li>{{ 'PRIVACY.APP.DATA5' | translate }}</li>
            <li>{{ 'PRIVACY.APP.DATA6' | translate }}</li>
            <li>{{ 'PRIVACY.APP.DATA7' | translate }}</li>
          </ul>
        </li>
        <li>{{ 'PRIVACY.APP.DATA8' | translate }}
          <ul>
            <li>{{ 'PRIVACY.APP.DATA9' | translate }}</li>
          </ul>
        </li>
        <li>{{ 'PRIVACY.APP.DATA10' | translate }}
          <ul>
            <li>{{ 'PRIVACY.APP.DATA11' | translate }}</li>
            <li>{{ 'PRIVACY.APP.DATA12' | translate }}</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="faq">
    <button class="faq__header shadow-sm isClosed" (click)="faqOpenClose($event)">
      <span class="fw-bold fs-6 pe-none">{{ 'PRIVACY.WEBSITE.QUESTION' | translate }}</span>
      <i class="fas fa-chevron-right"></i>
    </button>
    <div class="faq__content isClosed">
      <p>
        {{ 'PRIVACY.WEBSITE.ANSWER1' | translate }} <span
        class="fw-bold">{{ 'PRIVACY.WEBSITE.ANSWER2' | translate }}</span> {{ 'PRIVACY.WEBSITE.ANSWER3' | translate }}

      </p>
      <h3 class="fw-bold fs-6 pt-3 mt-2">{{ 'PRIVACY.WEBSITE.ANSWER4' | translate }}</h3>
      <p>{{ 'PRIVACY.WEBSITE.ANSWER5' | translate }} <a href="{{ 'PRIVACY.WEBSITE.ANSWER6' | translate }}"
                                                        target="_blank">{{ 'PRIVACY.WEBSITE.ANSWER6' | translate }}</a>
      </p>
    </div>
  </div>

  <div class="faq">
    <button class="faq__header shadow-sm isClosed" (click)="faqOpenClose($event)">
      <span class="fw-bold fs-6 pe-none">{{ 'PRIVACY.THIRDPARTIES.QUESTION' | translate }}</span>
      <i class="fas fa-chevron-right"></i>
    </button>
    <p class="faq__content isClosed">
      {{ 'PRIVACY.THIRDPARTIES.ANSWER' | translate }}
    </p>
  </div>

  <div class="faq">
    <button class="faq__header shadow-sm isClosed" (click)="faqOpenClose($event)">
      <span class="fw-bold fs-6 pe-none">{{ 'PRIVACY.RIGHTS.QUESTION' | translate }}</span>
      <i class="fas fa-chevron-right"></i>
    </button>
    <p class="faq__content isClosed">
      {{ 'PRIVACY.RIGHTS.ANSWER1' | translate }} <a
      routerLink="../imprint">{{ 'PRIVACY.RIGHTS.ANSWER2' | translate }}</a> {{ 'PRIVACY.RIGHTS.ANSWER3' | translate }}
      <a
        href="tel:{{ 'PRIVACY.RIGHTS.ANSWER4' | translate }}">{{ 'PRIVACY.RIGHTS.ANSWER4' | translate }}</a>{{ 'PRIVACY.RIGHTS.ANSWER5' | translate }}
      <a
        href="mailto:{{ 'PRIVACY.RIGHTS.ANSWER6' | translate }}">{{ 'PRIVACY.RIGHTS.ANSWER6' | translate }}</a>{{ 'PRIVACY.RIGHTS.ANSWER7' | translate }}
      <a href="{{ 'PRIVACY.RIGHTS.ANSWER8' | translate }}" target="_blank">{{ 'PRIVACY.RIGHTS.ANSWER8' | translate }}</a>.
    </p>
  </div>
</div>
