<div class="my-5 max-w-1000 px-3">
  <h1 class="fw-bold text-center pt-0 p-3 py-md-4"><span class="text-green">GreenPass</span> Press Kit</h1>
  <p class="text-start text-md-center px-3">{{ 'PRESSKIT.SUBLINE1' | translate }}<br>
    {{ 'PRESSKIT.SUBLINE2' | translate }} <a href="mailto:team@greenpassapp.eu">team@greenpassapp.eu</a></p>

  <h2 class="fw-bold px-3 pb-2 pt-4">{{ 'PRESSKIT.PRESSTEXTS' | translate }}</h2>

  <a href="assets/presskit/docs/GreenPass_Funktionen_DE.pdf" target="_blank" class="link download d-flex justify-content-between shadow-sm">
    <span>{{ 'PRESSKIT.TEXT_FUNKTIONEN' | translate }}</span>
    <i class="fas fa-download"></i>
  </a>

  <a href="assets/presskit/docs/GreenPass_Team_DE.pdf" target="_blank" class="link download d-flex justify-content-between shadow-sm">
    <span>{{ 'PRESSKIT.TEXT_TEAM' | translate }}</span>
    <i class="fas fa-download"></i>
  </a>

  <h2 class="fw-bold px-3 pb-2 pt-4">Logos</h2>

  <a download href="assets/presskit/logos/GreenPass_Logo.svg" target="_blank" class="link download d-flex justify-content-between shadow-sm">
    <span>GreenPass Logo (SVG)</span>
    <i class="fas fa-download"></i>
  </a>

  <a download href="assets/presskit/logos/GreenPass_Logo.png" target="_blank" class="link download d-flex justify-content-between shadow-sm">
    <span>GreenPass Logo (PNG)</span>
    <i class="fas fa-download"></i>
  </a>

  <h2 class="fw-bold px-3 pb-2 pt-4">Screenshots</h2>

  <a download href="assets/presskit/logos/GreenPass_Logo.svg" target="_blank" class="link download d-flex justify-content-between shadow-sm">
    <span>Screenshots iOS</span>
    <i class="fas fa-download"></i>
  </a>

  <a download href="assets/presskit/logos/GreenPass_Logo.svg" target="_blank" class="link download d-flex justify-content-between shadow-sm">
    <span>Screenshots Android</span>
    <i class="fas fa-download"></i>
  </a>

  <h2 class="fw-bold px-3 pb-2 pt-4">Imagevideos</h2>

  <a download href="assets/video/greenpass_imagevideo.mp4" target="_blank" class="link download d-flex justify-content-between shadow-sm">
    <span>Imagevideo (MP4, Deutsch)</span>
    <i class="fas fa-download"></i>
  </a>

  <a download href="assets/video/greenpass_imagevideo.webm" target="_blank" class="link download d-flex justify-content-between shadow-sm">
    <span>Imagevideo (WEBM, Deutsch)</span>
    <i class="fas fa-download"></i>
  </a>

  <h2 class="fw-bold px-3 pb-2 pt-4">{{ 'PRESSKIT.FOTO' | translate }}</h2>

  <a download href="assets/presskit/pictures/GreenPass_Team.jpg" target="_blank" class="link download d-flex justify-content-between shadow-sm">
    <span>{{ 'PRESSKIT.TEAMFOTO' | translate }} GreenPass</span>
    <i class="fas fa-download"></i>
  </a>
</div>
