<div class="my-5 max-w-1000 px-3">
  <h1 class="fw-bold text-center pt-0 p-3 py-md-4"><span class="text-green">GreenPass</span> Presskit</h1>
  <p class="text-start text-md-center px-3">Was treibt uns an, was kann unsere App und vieles mehr - hier auf einem Blick gesammelt</p>

  <h2 class="fw-bold px-3 pb-2 pt-4">Pressetexte</h2>

  <a href="assets/presskit/docs/GreenPass_Funktionen_DE.pdf" target="_blank" class="link download d-flex justify-content-between shadow-sm">
    <span>Pressetext: Die Funktionen der App (Deutsch)</span>
    <i class="fas fa-download"></i>
  </a>

  <a href="assets/presskit/docs/GreenPass_Team_DE.pdf" target="_blank" class="link download d-flex justify-content-between shadow-sm">
    <span>Pressetext: Das Team hinter der App (Deutsch)</span>
    <i class="fas fa-download"></i>
  </a>

  <h2 class="fw-bold px-3 pb-2 pt-4">Logos & Screenshots</h2>

  <a href="assets/images/screenshot/scann-code-en.png" target="_blank" class="link download d-flex justify-content-between shadow-sm">
    <span>GreenPass App Logos</span>
    <i class="fas fa-download"></i>
  </a>

  <h2 class="fw-bold px-3 pb-2 pt-4">Imagevideos</h2>

  <a href="assets/images/screenshot/scann-code-en.png" target="_blank" class="link download d-flex justify-content-between shadow-sm">
    <span>Imagevideo (Deutsch)</span>
    <i class="fas fa-download"></i>
  </a>

  <a href="assets/images/screenshot/scann-code-en.png" target="_blank" class="link download d-flex justify-content-between shadow-sm">
    <span>Imagevideo (English)</span>
    <i class="fas fa-download"></i>
  </a>
</div>
