<div class="my-5 max-w-1000">
  <h1 class="px-3 fw-bold text-center">{{ 'ABOUT.HEADLINE1' | translate }} <span
    class="text-green">{{ 'ABOUT.HEADLINE2' | translate }}</span> {{ 'ABOUT.HEADLINE3' | translate }}</h1>
  <p class="px-3 text-start text-lg-center">{{ 'ABOUT.EXCERPT' | translate }}</p>


  <!-- SHOW & VALIDATE -->
  <section
    class="py-5 headvisual--small row d-flex flex-column align-items-center justify-content-center pt-3 max-w-1000 flex-md-row">
    <div class="headvisual__text mt-md-3 col-lg-7 px-0">
      <h2 class="fw-bold fs-4 px-3">{{ 'ABOUT.ALLINONE.HEADLINE1' | translate }} <span
        class="text-green">{{ 'ABOUT.ALLINONE.HEADLINE2' | translate }}</span> {{ 'ABOUT.ALLINONE.HEADLINE3' | translate }}
      </h2>
      <p class="px-3">{{ 'ABOUT.ALLINONE.TEXT1' | translate }} <span
        class="fw-bold">{{ 'ABOUT.ALLINONE.TEXT2' | translate }}</span>
        {{ 'ABOUT.ALLINONE.TEXT3' | translate }} <span
          class="fw-bold">{{ 'ABOUT.ALLINONE.TEXT4' | translate }}</span> {{ 'ABOUT.ALLINONE.TEXT5' | translate }}</p>

      <p class="px-3">{{ 'ABOUT.ALLINONE.TEXT6' | translate }} <span
        class="fw-bold">{{ 'ABOUT.ALLINONE.TEXT7' | translate }}</span>
        {{ 'ABOUT.ALLINONE.TEXT8' | translate }}
      </p>
      <p class="px-3">{{ 'ABOUT.ALLINONE.TEXT9' | translate }} <span
        class="fw-bold">{{ 'ABOUT.ALLINONE.TEXT10' | translate }}</span>
      </p>
    </div>
    <div class="col-lg-5 d-flex justify-content-center pt-lg-3 px-0">
      <img src="assets/images/home/functions.png" alt="" class="headvisual__image max-h-60 d-none d-lg-block">
      <img src="assets/images/home/functions-sm.png" alt="" class="headvisual__image max-h-600px w-75 d-block d-lg-none pb-5">
    </div>
  </section>

  <h2 class="fw-bold mt-5 fs-4 px-3">{{ 'ABOUT.TEAM.HEADLINE1' | translate }} <span
    class="text-green">{{ 'ABOUT.TEAM.HEADLINE2' | translate }}</span> {{ 'ABOUT.TEAM.HEADLINE3' | translate }}</h2>
  <p class="px-3">{{ 'ABOUT.TEAM.TEXT1' | translate }} <span class="fw-bold">{{ 'ABOUT.TEAM.TEXT2' | translate }}</span>
  </p>

  <p class="px-3">{{ 'ABOUT.TEAM.TEXT3' | translate }} <span class="fw-bold">{{ 'ABOUT.TEAM.TEXT4' | translate }} <span
    class="text-green">{{ 'ABOUT.TEAM.TEXT5' | translate }}</span> {{ 'ABOUT.TEAM.TEXT6' | translate }}</span>.
    {{ 'ABOUT.TEAM.TEXT7' | translate }}<a href="https://fh-ooe.at/mc-ma" target="_blank">{{ 'ABOUT.TEAM.TEXT7a' | translate }}</a>
    {{ 'ABOUT.TEAM.TEXT7b' | translate }}<a href="https://fh-ooe.at/se" target="_blank">{{ 'ABOUT.TEAM.TEXT7c' | translate }}</a>
    {{ 'ABOUT.TEAM.TEXT7d' | translate }}<a href="https://fh-ooe.at/kwm" target="_blank">{{ 'ABOUT.TEAM.TEXT7e' | translate }}</a>
    {{ 'ABOUT.TEAM.TEXT7f' | translate }}
    <span class="fw-bold">{{ 'ABOUT.TEAM.TEXT8' | translate }}</span> {{ 'ABOUT.TEAM.TEXT9' | translate }}
  </p>

  <section
    class="px-3 headvisual--small row d-flex flex-column-reverse align-items-center justify-content-center max-w-1000 flex-lg-row">
    <div class="col-lg-5 d-flex justify-content-center px-0 pt-4 pt-lg-2">
      <img src="assets/images/team-greenpass.jpg" alt="Team GreenPass"
           class="w-100 shadow h-100" style="border-radius: 20px">
    </div>
    <div class="headvisual__text col-lg-7 px-0 px-lg-3">
      <p class="">{{ 'ABOUT.TEAM.TEXT10' | translate }}</p>
      <ul class="">
        <li><span class="fw-bold">Kevin Händel</span>
          <a href="https://twitter.com/kevinhaendel" target="_blank"><i class="fab fa-twitter ps-2"></i></a>
          <a href="https://www.linkedin.com/in/kevin-h%C3%A4ndel-79959b208/" target="_blank"><i class="fab fa-linkedin-in ps-2"></i></a>
          <br>
          <a href="mailto:kevinhaendel@gmail.com">kevinhaendel@gmail.com</a>


        </li>
        <li class="pt-3"><span class="fw-bold">Jakob Stadlhuber</span>
          <a href="https://twitter.com/JakobStadlhuber" target="_blank"><i class="fab fa-twitter ps-2"></i></a>
          <a href="https://www.linkedin.com/in/jakob-stadlhuber-19815620a/" target="_blank"><i class="fab fa-linkedin-in ps-2"></i></a>
          <br>
          <a href="mailto:jakob@stadlhuber.org">jakob@stadlhuber.org</a>

        </li>
        <li class="pt-3"><span class="fw-bold">Lisa-Maria Schedlberger</span>
          <a href="https://twitter.com/lmschedlberger" target="_blank"><i class="fab fa-twitter ps-2"></i></a>
          <a href="http://linkedin.com/in/lisamaria-schedlberger" target="_blank"><i class="fab fa-linkedin-in ps-2"></i></a>

          <br>
          <a href="mailto:lisa@schedlberger.net">lisa@schedlberger.net</a>
        </li>
      </ul>
    </div>
  </section>
</div>
