<div class="my-5 max-w-1000">
  <h1 class="fw-bold text-center">Was hinter der <span class="text-green">GreenPass</span> App steckt</h1>
  <p class="text-center px-3">Ein kleines Team aus Hagenberger Studierenden und das Ziel während der Pandemie einen Beitrag
    leisten zu können.</p>


  <h2 class="fw-bold mt-5 fs-4 px-3">Deine <span class="text-green">All-in-One</span> Lösung</h2>
  <p class="px-3">Die GreenPass App ist die bisher einzige Lösung, die <span class="fw-bold">einerseits das Vorweisen und andererseits auch das Validieren</span>
    von Impf-, Test- und Genesungszertifikaten ermöglicht. Dabei wird selbstverständlich großer Wert auf <span
      class="fw-bold">Datenschutz und
    Transparenz</span> gelegt, denn alle deine Daten werden lokal und offline auf deinem Gerät gespeichert.</p>

  <p class="px-3">Bei der GreenPass App handelt es sich zusätzlich um eine <span
    class="fw-bold">EU-weit funktionierende Lösung</span>
    und validiert die Zertifikate nach den spezifischen Vorgaben des jeweiligen EU-Staates, den du als Nutzer:in selbst
    auswählen kannst. Ebenso hast du die Möglichkeit, dein aktuelles Zertifikat mit Freunden oder Familie für einen
    selbst-gewählten Zeitraum zu teilen.
  </p>
  <p class="px-3">Klingt gut? Dann ab in den App Store deines Vertrauens und verwende auch du ab jetzt den <span class="fw-bold">neuen, digitalen Grünen Pass.</span>
  </p>

  <h2 class="fw-bold mt-5 fs-4 px-3">Das <span class="text-green">Team</span> hinter den Kulissen</h2>
  <p class="px-3">Stell dir folgendes Szenario vor: Drei Studierende, die spät abends zusammen sitzen und sich den
    Kopf darüber zerbrechen, warum es eigentlich keine EU-weite Lösung für den digitalen Grünen Pass gibt. Plötzlich
    meint einer der drei: <span class="fw-bold">"Ja, dann machen wir halt eine App dafür!"</span>
  </p>

  <p class="px-3">Gesagt, getan. Zahlreiche schlaflose Nächte und unzählige leergetrunkene Dosen Red Bull später, dürfen wir euch das
    Endergebnis präsentieren: <span class="fw-bold">Unsere <span class="text-green">GreenPass</span> App</span>. Als
    interdisziplinäres Team haben wir - Jakob Stadlhuber (Mobile
    Computing Student), Kevin Händel (Software Engineering Student) und Lisa-Maria Schedlberger (Kommunikation, Wissen,
    Medien Studentin) von der FH Hagenberg - in kürzester Zeit ein Projekt auf die Beine gestellt, mit dem Ziel für die gesamte Europäische
    Union <span class="fw-bold">einen wertvollen Beitrag leisten</span> zu können. Wir hoffen, dass wir das Leben
    einiger Personen in der aktuell
    ohnehin sehr schwierigen Zeit zumindest ein kleines bisschen vereinfachen zu können!
  </p>
  <p class="px-3">Du hast Fragen zu uns als Team? Melde dich gerne bei uns:</p>
  <ul class="mx-3">
    <li>Kevin Händel: <a href="mailto:kevinhaendel@gmail.com">kevinhaendel@gmail.com</a></li>
    <li>Jakob Stadlhuber: <a href="mailto:jakob@stadlhuber.org">jakob@stadlhuber.org</a></li>
    <li>Lisa-Maria Schedlberger: <a href="mailto:lisa@schedlberger.net">lisa@schedlberger.net</a></li>
  </ul>
</div>
