<div class="my-5 max-w-1000">
  <h1 class="fw-bold text-center">{{ 'ABOUT.HEADLINE1' | translate }} <span
    class="text-green">{{ 'ABOUT.HEADLINE2' | translate }}</span> {{ 'ABOUT.HEADLINE3' | translate }}</h1>
  <p class="text-center px-3">{{ 'ABOUT.EXCERPT' | translate }}</p>


  <h2 class="fw-bold mt-5 fs-4 px-3">{{ 'ABOUT.ALLINONE.HEADLINE1' | translate }} <span
    class="text-green">{{ 'ABOUT.ALLINONE.HEADLINE2' | translate }}</span> {{ 'ABOUT.ALLINONE.HEADLINE3' | translate }}
  </h2>
  <p class="px-3">{{ 'ABOUT.ALLINONE.TEXT1' | translate }} <span
    class="fw-bold">{{ 'ABOUT.ALLINONE.TEXT2' | translate }}</span>
    {{ 'ABOUT.ALLINONE.TEXT3' | translate }} <span
      class="fw-bold">{{ 'ABOUT.ALLINONE.TEXT4' | translate }}</span> {{ 'ABOUT.ALLINONE.TEXT5' | translate }}</p>

  <p class="px-3">{{ 'ABOUT.ALLINONE.TEXT6' | translate }} <span
    class="fw-bold">{{ 'ABOUT.ALLINONE.TEXT7' | translate }}</span>
    {{ 'ABOUT.ALLINONE.TEXT8' | translate }}
  </p>
  <p class="px-3">{{ 'ABOUT.ALLINONE.TEXT9' | translate }} <span
    class="fw-bold">{{ 'ABOUT.ALLINONE.TEXT10' | translate }}</span>
  </p>

  <h2 class="fw-bold mt-5 fs-4 px-3">{{ 'ABOUT.TEAM.HEADLINE1' | translate }} <span
    class="text-green">{{ 'ABOUT.TEAM.HEADLINE2' | translate }}</span> {{ 'ABOUT.TEAM.HEADLINE3' | translate }}</h2>
  <p class="px-3">{{ 'ABOUT.TEAM.TEXT1' | translate }} <span class="fw-bold">{{ 'ABOUT.TEAM.TEXT2' | translate }}</span>
  </p>

  <p class="px-3">{{ 'ABOUT.TEAM.TEXT3' | translate }} <span class="fw-bold">{{ 'ABOUT.TEAM.TEXT4' | translate }} <span
    class="text-green">{{ 'ABOUT.TEAM.TEXT5' | translate }}</span> {{ 'ABOUT.TEAM.TEXT6' | translate }}</span>. {{ 'ABOUT.TEAM.TEXT7' | translate }}
    <span class="fw-bold">{{ 'ABOUT.TEAM.TEXT8' | translate }}</span> {{ 'ABOUT.TEAM.TEXT9' | translate }}
  </p>
  <p class="px-3">{{ 'ABOUT.TEAM.TEXT10' | translate }}</p>
  <ul class="mx-3">
    <li>Kevin Händel: <a href="mailto:kevinhaendel@gmail.com">kevinhaendel@gmail.com</a></li>
    <li>Jakob Stadlhuber: <a href="mailto:jakob@stadlhuber.org">jakob@stadlhuber.org</a></li>
    <li>Lisa-Maria Schedlberger: <a href="mailto:lisa@schedlberger.net">lisa@schedlberger.net</a></li>
  </ul>
</div>
