nav{
  background-color: white!important;
}

nav ul li a{
  color: gray;
  transition: all 0.5s ease;
}

nav ul li a:hover {
  color: black;
  transition: all 0.5s ease;
}

.logo{
  color: black;
  margin-left: 10px;
}
