<div class="container-fluid">
<app-header></app-header>

<main class="">
  <div class="container">
    <div class="row pt-5 mb-4">
      <div class="col-sm d-flex justify-content-center">
        <img src="favicon.ico" width="100" height="100">
      </div>
    </div>

    <div class="row">
      <div class="col-sm d-flex justify-content-center">
        <h1>{{ 'HOME.TITLE' | translate }}</h1>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-sm d-flex justify-content-center">
        <h5>A new way to verify the Covid status</h5>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-sm d-flex justify-content-center">
        <a class="store-bubble mr-2" href="#">
          <i class="bi bi-check-circle"></i>
          AppStore
        </a>
        <a class="store-bubble" href="#">
          <i class="bi bi-check-circle"></i>
          PlayStore
        </a>
      </div>
    </div>

    <div class="row mt-5 pb-5">
      <div class="row d-flex justify-content-center">
        <img class="col-xl-6 col-xs-12 img-fluid screenshot" src="https://spotlight.super.so/_next/image?url=https%3A%2F%2Fsuper-static-assets.s3.amazonaws.com%2Fe55cf095-347d-4eb5-86e4-fc9acf7128c8%2Fimages%2F264dddac-c15e-4c5e-b28c-81f3ff7de133.png&w=3840&q=100">
        <div class="col-xl-6 col-xs-12 align-self-center">
          <h2>Datenschutz</h2>
          <h6>Test</h6>
        </div>
      </div>
    </div>

    <div class="row pt-5 pb-5">
      <div class="row d-flex justify-content-center">
        <div class="col-xl-6 col-xs-12 align-self-center">
          <h2>Datenschutz</h2>
          <h6>Test</h6>
        </div>
        <img class="col-xl-6 col-xs-12 img-fluid screenshot" src="https://spotlight.super.so/_next/image?url=https%3A%2F%2Fsuper-static-assets.s3.amazonaws.com%2Fe55cf095-347d-4eb5-86e4-fc9acf7128c8%2Fimages%2F264dddac-c15e-4c5e-b28c-81f3ff7de133.png&w=3840&q=100">
      </div>
    </div>

    <div class="row mt-5 pb-5">
      <div class="row d-flex justify-content-center">
        <img class="col-xl-6 col-xs-12 img-fluid screenshot" src="https://spotlight.super.so/_next/image?url=https%3A%2F%2Fsuper-static-assets.s3.amazonaws.com%2Fe55cf095-347d-4eb5-86e4-fc9acf7128c8%2Fimages%2F264dddac-c15e-4c5e-b28c-81f3ff7de133.png&w=3840&q=100">
        <div class="col-xl-6 col-xs-12 align-self-center">
          <h2>Datenschutz</h2>
          <h6>Test</h6>
        </div>
      </div>
    </div>

  </div>
</main>

  <app-footer></app-footer>

</div>
