<main class="pb-5">

  <!-- HEADVISUAL -->
  <section class="headvisual row pt-3 pt-md-5 pt-lg-0">
    <div class="headvisual__text mt-5 mt-md-3 col-12 col-lg-7">
      <p class="small mb-1 text-center text-lg-start">{{ 'HOME.HEADVISUAL.PREHEADER' | translate }}</p>
      <h1 class="fw-bold headvisual__title text-center text-lg-start pb-2">{{ 'HOME.HEADVISUAL.HEADLINE1' | translate }}
        <span
          class="text-green">{{ 'HOME.HEADVISUAL.HEADLINE2' | translate }}</span> {{ 'HOME.HEADVISUAL.HEADLINE3' | translate }}
      </h1>
      <p class="text-center text-lg-start">{{ 'HOME.HEADVISUAL.TEXT' | translate }}</p>
      <div class="col-sm d-flex justify-content-center justify-content-lg-start mt-3 pt-2 mb-5 mb-lg-0">
        <a class="store-bubble me-3" href="#">
          <img src="assets/images/playstore/app-store-badge.svg" alt="Apple App Store Badge">
        </a>
        <a class="store-bubble" href="#">
          <img src="assets/images/playstore/google-play-badge.svg" alt="Google Play Store Badge" style="height: 40px;">
        </a>
      </div>
    </div>
    <div class="col-12 col-lg-5 d-flex justify-content-center justify-content-lg-start pt-lg-5">
      <img src="assets/images/home/headvisual.png" alt="" class="headvisual__image d-none d-lg-block pt-lg-5">
      <img src="assets/images/home/headvisual-sm.png" alt="" class="headvisual__image w-75 d-block d-lg-none pb-5">
    </div>
  </section>

  <!-- STEP BY STEP -->
  <section class="py-5">

    <ul class="row list-unstyled d-flex justify-content-center">
      <li class="cards cards--first col-12 col-md-6 col-lg-4 py-4 mt-2 position-relative">
        <span class="cards__number position-absolute shadow-sm">1.</span>
        <div class="cards__body p-4 bg-white d-flex flex-column align-items-center border-2 my-2 h-100 shadow-sm">
          <img src="assets/images/tutorial/tutorial-2-scan.png" alt="" class="p-3 pt-4"
               style="width: 100%; max-height: 300px; object-fit: contain;">
          <h2 class="text-center fs-5 fw-bold pt-3">{{ 'HOME.STEPS.STEP1.HEADLINE' | translate }}</h2>
          <p class="text-center px-3">{{ 'HOME.STEPS.STEP1.TEXT' | translate }}</p>
        </div>
      </li>
      <li class="cards cards--second col-12 col-md-6 col-lg-4 py-4 mt-2 position-relative">
        <span class="cards__number position-absolute shadow-sm">2.</span>
        <div class="cards__body p-4 bg-white d-flex flex-column align-items-center border-2 my-2 h-100 shadow-sm">
          <img src="assets/images/tutorial/tutorial-3-show.png" alt="" class="p-3 pt-4"
               style="width: 100%; max-height: 300px; object-fit: contain;">
          <h2 class="text-center fs-5 fw-bold pt-3">{{ 'HOME.STEPS.STEP2.HEADLINE' | translate }}</h2>
          <p class="text-center px-3">{{ 'HOME.STEPS.STEP2.TEXT' | translate }}</p>
        </div>
      </li>
      <li class="cards cards--third col-12 col-md-6 col-lg-4 py-4 mt-2 position-relative">
        <span class="cards__number position-absolute shadow-sm">3.</span>
        <div class="cards__body p-4 bg-white d-flex flex-column align-items-center border-2 my-2 h-100 shadow-sm">
          <img src="assets/images/tutorial/tutorial-5-validate.png" alt="" class="p-3 pt-4"
               style="width: 100%; max-height: 300px; object-fit: contain;">
          <h2 class="text-center fs-5 fw-bold pt-3">{{ 'HOME.STEPS.STEP3.HEADLINE' | translate }}</h2>
          <p class="text-center px-3">{{ 'HOME.STEPS.STEP3.TEXT' | translate }}</p></div>
      </li>
    </ul>
  </section>

  <!-- SHOW & VALIDATE -->
  <section
    class="py-5 headvisual--small row d-flex flex-column align-items-center justify-content-center pt-3 max-w-1000 flex-md-row">
    <div class="headvisual__text mt-md-3 col-lg-7">
      <p class="small mb-1 text-center text-lg-start">{{ 'HOME.SECTION1.PREHEADER' | translate }}</p>
      <h2 class="fw-bold pb-3 text-center text-lg-start">{{ 'HOME.SECTION1.HEADLINE1' | translate }} <span
        class="text-green">{{ 'HOME.SECTION1.HEADLINE2' | translate }}</span>
        {{ 'HOME.SECTION1.HEADLINE3' | translate }}</h2>
      <p class="text-center text-lg-start">{{ 'HOME.SECTION1.TEXT' | translate }}</p>
    </div>
    <div class="col-lg-5 d-flex justify-content-center pt-lg-3">
      <img src="assets/images/home/functions.png" alt="" class="headvisual__image d-none d-lg-block pt-lg-5">
      <img src="assets/images/home/functions-sm.png" alt="" class="headvisual__image w-75 d-block d-lg-none pb-5">
    </div>
  </section>

  <!-- ALL CERTS -->
  <section
    class="py-5 headvisual--small row d-flex flex-column-reverse align-items-center justify-content-center pt-3 max-w-1000 flex-lg-row">
    <div class="col-lg-5 d-flex justify-content-center">
      <img src="assets/images/home/certs.png" alt=""
           class="headvisual__image headvisual__image--right d-none d-lg-block">
      <img src="assets/images/home/certs-sm.png" alt="" class="headvisual__image w-75 d-block d-lg-none pb-5">
    </div>
    <div class="headvisual__text mt-md-3 col-lg-7">
      <p class="small mb-1 text-center text-lg-start">{{ 'HOME.SECTION2.PREHEADER' | translate }}</p>
      <h2 class="fw-bold pb-3 text-center text-lg-start">{{ 'HOME.SECTION2.HEADLINE1' | translate }} <span
        class="text-green">{{ 'HOME.SECTION2.HEADLINE2' | translate }}</span>
      </h2>
      <p class="text-center text-lg-start">{{ 'HOME.SECTION2.TEXT' | translate }}
      </p>
    </div>
  </section>

  <!-- COUNTRY VALIDATION -->
  <section
    class="py-5 headvisual--small row d-flex flex-column align-items-center justify-content-center pt-3 max-w-1000 flex-md-row">
    <div class="headvisual__text mt-md-3 col-lg-7">
      <p class="small mb-1 text-center text-lg-start">{{ 'HOME.SECTION3.PREHEADER' | translate }}</p>
      <h2 class="fw-bold pb-3 text-center text-lg-start"><span
        class="text-green">{{ 'HOME.SECTION3.HEADLINE1' | translate }}</span> {{ 'HOME.SECTION3.HEADLINE2' | translate }}
      </h2>
      <p class="text-center text-lg-start">{{ 'HOME.SECTION3.TEXT' | translate }}</p>
      <small class="text-gray small d-block text-center text-lg-start"
             style="font-size: 80%;">{{ 'HOME.SECTION3.SUBTEXT' | translate }}</small>
    </div>
    <div class="col-lg-5 d-flex justify-content-center pt-lg-3">
      <img src="assets/images/home/country-valid.png" alt="" class="headvisual__image d-none d-lg-block pt-lg-5">
      <img src="assets/images/home/country-valid-sm.png" alt="" class="headvisual__image w-75 d-block d-lg-none pb-5">
    </div>
  </section>

  <!-- SHARING -->
  <section
    class="py-5 headvisual--small row d-flex flex-column-reverse align-items-center justify-content-center pt-3 max-w-1000 flex-lg-row">
    <div class="col-lg-5 d-flex justify-content-center">
      <img src="assets/images/home/share.png" alt=""
           class="headvisual__image headvisual__image--right d-none d-lg-block">
      <img src="assets/images/home/share-sm.png" alt="" class="headvisual__image w-75 d-block d-lg-none pb-5">
    </div>
    <div class="headvisual__text mt-md-3 col-lg-7">
      <p class="small mb-1 text-center text-lg-start">{{ 'HOME.SECTION4.PREHEADER' | translate }}</p>
      <h2 class="fw-bold pb-3 text-center text-lg-start"><span
        class="text-green">{{ 'HOME.SECTION4.HEADLINE1' | translate }}</span>
        {{ 'HOME.SECTION4.HEADLINE2' | translate }}
      </h2>
      <p class="text-center text-lg-start">
        {{ 'HOME.SECTION4.TEXT' | translate }}
      </p>
    </div>
  </section>

  <!-- COUNTRY VALIDATION -->
  <section
    class="py-5 headvisual--small row d-flex flex-column align-items-center justify-content-center pt-3 max-w-1000 flex-md-row">
    <div class="headvisual__text mt-md-3 col-lg-7">
      <p class="small mb-1 text-center text-lg-start">{{ 'HOME.SECTION5.PREHEADER' | translate }}</p>
      <h2 class="fw-bold pb-3 text-center text-lg-start">{{ 'HOME.SECTION5.HEADLINE1' | translate }} <span
        class="text-green">{{ 'HOME.SECTION5.HEADLINE2' | translate }}</span>
      </h2>
      <p class="text-center text-lg-start">
        {{ 'HOME.SECTION5.TEXT' | translate }}
      </p>
    </div>
    <div class="col-lg-5 d-flex justify-content-center pt-lg-3">
      <img src="assets/images/home/wallet.png" alt="" class="headvisual__image d-none d-lg-block pt-lg-5">
      <img src="assets/images/home/wallet-sm.png" alt="" class="headvisual__image w-75 d-block d-lg-none pb-5">
    </div>
  </section>

  <!-- DATA PRIVACY -->
  <section
    class="py-5 headvisual--small d-flex flex-column align-items-center justify-content-center pt-3 max-w-1000 flex-md-row">
    <div class="headvisual__text mt-md-3">
      <h2 class="fw-bold pb-3 text-center"><span class="text-green">{{ 'HOME.SECTION6.HEADLINE1' | translate }}</span>
        {{ 'HOME.SECTION6.HEADLINE2' | translate }}</h2>
      <p class="text-center">{{ 'HOME.SECTION6.TEXT1' | translate }} <span
        class="fw-bold">{{ 'HOME.SECTION6.TEXT2' | translate }}</span> {{ 'HOME.SECTION6.TEXT3' | translate }}</p>
      <p class="text-center">{{ 'HOME.SECTION6.TEXT4' | translate }} <a
        routerLink="privacy">{{ 'HOME.SECTION6.TEXT5' | translate }}</a>
        {{ 'HOME.SECTION6.TEXT6' | translate }}
      </p>
    </div>
  </section>

  <section class="max-w-1000">
    <h2 class="text-center fw-bold pb-4">Ein kleiner Vorgeschmack...</h2>
    <div class="bg-white shadow-sm" style="border-radius: 20px">
      <video
        controls style="max-width: 100%;" class="p-3 pt-lg-5">
        <source src="assets/video/greenpass_imagevideo.webm" type="video/mp4">
        <source src="assets/video/greenpass_imagevideo.mp4" type="video/ogg">
        Your browser does not support the video tag.
      </video>
    </div>
  </section>

  <!-- FAQ -->
  <section class="my-5">

    <p class="text-center small mb-2 pt-4">{{ 'HOME.FAQ.PREHEADER' | translate }}</p>
    <h2 class="text-center fw-bold mb-5">{{ 'HOME.FAQ.HEADLINE1' | translate }} <span
      class="text-green">{{ 'HOME.FAQ.HEADLINE2' | translate }}</span></h2>

    <div class="faq">
      <button class="faq__header shadow-sm isClosed" (click)="faqOpenClose($event)">
        {{ 'HOME.FAQ.FAQ_DATA.QUESTION' | translate }}
        <i class="fas fa-chevron-right"></i>
      </button>
      <p class="faq__content isClosed">
        {{ 'HOME.FAQ.FAQ_DATA.ANSWER1' | translate }} <span
        class="fw-bold">{{ 'HOME.FAQ.FAQ_DATA.ANSWER2' | translate }}</span>
        {{ 'HOME.FAQ.FAQ_DATA.ANSWER3' | translate }} <a
        routerLink="privacy">{{ 'HOME.FAQ.FAQ_DATA.ANSWER4' | translate }}</a>.
      </p>
    </div>

    <div class="faq">
      <button class="faq__header shadow-sm isClosed" (click)="faqOpenClose($event)">
        Du hast Fragen, Verbesserungsvorschläge oder Wünsche?
        <i class="fas fa-chevron-right"></i>
      </button>
      <p class="faq__content isClosed">Melde dich bei uns, wir freuen uns über Feedback und Anregungen, um dieses
        Projekt
        laufend zu verbessern! Hier gelangst du zu unserem Kontakt: <a href="#">team@greenpassapp.eu</a></p>
    </div>

    <div class="faq">
      <button class="faq__header shadow-sm isClosed" (click)="faqOpenClose($event)">
        Du möchtest die App mit Freunden und Bekannten teilen?
        <i class="fas fa-chevron-right"></i>
      </button>
      <p class="faq__content isClosed">
        Teile die App mit Freunden, Bekannten und Verwandten und mache auch ihr Leben während der Pandemie ein klein
        wenig einfacher!
        <i class="fas fa-instagram text-dark"></i>
        <i class="fas fa-facebook text-dark"></i>
        <i class="fas fa-twitter text-dark"></i>
        <i class="fas fa-linkedin text-dark"></i>
      </p>
    </div>

    <div class="faq">
      <button class="faq__header shadow-sm isClosed" (click)="faqOpenClose($event)">
        Du möchtest dich am Projekt beteiligen?
        <i class="fas fa-chevron-right"></i>
      </button>
      <p class="faq__content isClosed">
        Bei der GreenPass-App handelt es sich um ein Open Source Projekt. Das bedeutet, dass sich jede:r den Code
        einsehen kann und sich am Projekt beteiligen kann. Wir freuen uns darauf, die GreenPass-App mit möglichst
        vielen Personen gemeinsam zu erweitern und zu verbessern! Hier gelangst du zu unserem Github-Repository:
        <a href="https://github.com/GreenPassApp" target="_blank">GitHub</a>
      </p>
    </div>

    <div class="faq">
      <button class="faq__header shadow-sm isClosed" (click)="faqOpenClose($event)">
        Du hast noch eine Frage, die hier nicht beantwortet wird?
        <i class="fas fa-chevron-right"></i>
      </button>
      <p class="faq__content isClosed">
        Melde dich bei uns! Wir freuen uns darauf dir deine Fragen zu beantworten:
        <a href="mailto:team@greenpassapp.eu">team@greenpassapp.eu</a>
      </p>
    </div>

    <!-- Datenschutz erklärung -->
    <!-- WOZU IST WELCHE APP -->

    <!-- WELCHE LÄNDER WERDEN AKTUELL UNTERSTÜTZT -->
    <!-- WELCHE GERÄTE WERDEN UNTERSTUTÜTZ -->
    <!-- WObei unterstützt mich die greenpass app -->


  </section>
</main>

