<h1>App Licences</h1>
<h5>Package and Licence URL</h5>

<ul>
  <li>share_plus</li>
  <li>https://pub.dev/packages/share_plus/license</li>
</ul>
<ul>
  <li>clipboard</li>
  <li>https://pub.dev/packages/clipboard/license</li>
</ul>
<ul>
  <li>datetime_picker_formfield</li>
  <li>https://pub.dev/packages/datetime_picker_formfield/license</li>
</ul>
<ul>
  <li>package_info</li>
  <li>https://pub.dev/packages/package_info/license</li>
</ul>
<ul>
  <li>flag</li>
  <li>https://pub.dev/packages/flag/license</li>
</ul>
<ul>
  <li>flutter_secure_storage</li>
  <li>https://pub.dev/packages/flutter_secure_storage/license</li>
</ul>
<ul>
  <li>hive_flutter</li>
  <li>https://pub.dev/packages/hive_flutter/license</li>
</ul>
<ul>
  <li>hive</li>
  <li>https://pub.dev/packages/hive/license</li>
</ul>
<ul>
  <li>pretty_qr_code</li>
  <li>https://pub.dev/packages/pretty_qr_code/license</li>
</ul>
<ul>
  <li>smooth_page_indicator</li>
  <li>https://pub.dev/packages/smooth_page_indicator/license</li>
</ul>
<ul>
  <li>easy_localization</li>
  <li>https://pub.dev/packages/easy_localization/license</li>
</ul>
<ul>
  <li>flutter_vector_icons</li>
  <li>https://pub.dev/packages/flutter_vector_icons/license</li>
</ul>
<ul>
  <li>modal_bottom_sheet</li>
  <li>https://pub.dev/packages/modal_bottom_sheet/license</li>
</ul>
<ul>
  <li>flutter_statusbarcolor_ns</li>
  <li>https://pub.dev/packages/flutter_statusbarcolor_ns/license</li>
</ul>
<ul>
  <li>app_settings</li>
  <li>https://pub.dev/packages/app_settings/license</li>
</ul>
<ul>
  <li>qr_mobile_vision</li>
  <li>https://pub.dev/packages/qr_mobile_vision/license</li>
</ul>
<ul>
  <li>cupertino_icons</li>
  <li>https://pub.dev/packages/cupertino_icons/license</li>
</ul>
<ul>
  <li>url_launcher</li>
  <li>https://pub.dev/packages/url_launcher/license</li>
</ul>
<ul>
  <li>dart_cose</li>
  <li>https://pub.dev/packages/dart_cose/license</li>
</ul>
<ul>
  <li>dart_base45</li>
  <li>https://pub.dev/packages/dart_base45/license</li>
</ul>
<ul>
  <li>vibration</li>
  <li>https://pub.dev/packages/vibration/license</li>
</ul>
<ul>
  <li>country_codes</li>
  <li>https://pub.dev/packages/country_codes/license</li>
</ul>
<ul>
  <li>intl</li>
  <li>https://pub.dev/packages/intl/license</li>
</ul>
<ul>
  <li>http</li>
  <li>https://pub.dev/packages/http/license</li>
</ul>
<ul>
  <li>collection</li>
  <li>https://pub.dev/packages/collection/license</li>
</ul>
<ul>
  <li>introduction_screen</li>
  <li>https://pub.dev/packages/introduction_screen/license</li>
</ul>
<ul>
  <li>shared_preferences</li>
  <li>https://pub.dev/packages/shared_preferences/license</li>
</ul>
<ul>
  <li>introduction_screen</li>
  <li>https://pub.dev/packages/introduction_screen/license</li>
</ul>
