<div class="my-5 max-w-1000">
  <h1 class="fw-bold text-center pt-0 p-3 pt-md-4 pb-0">App Licences</h1>
  <p class="text-center px-3">
    Package and Licence URL
  </p>


  <ul class="list">
    <li>
      <span class="fw-bold">share_plus</span><br>
      https://pub.dev/packages/share_plus/license
    </li>

    <li>
      <span class="fw-bold">clipboard</span><br>
https://pub.dev/packages/clipboard/license</li>

    <li>
      <span class="fw-bold">datetime_picker_formfield</span><br>
    https://pub.dev/packages/datetime_picker_formfield/license</li>

    <li><span class="fw-bold">package_info</span><br>
    https://pub.dev/packages/package_info/license</li>

    <li><span class="fw-bold">flag</span><br>
    https://pub.dev/packages/flag/license</li>

    <li><span class="fw-bold">flutter_secure_storage</span><br>
    https://pub.dev/packages/flutter_secure_storage/license</li>

    <li><span class="fw-bold">hive_flutter</span><br>
    https://pub.dev/packages/hive_flutter/license</li>

    <li><span class="fw-bold">hive</span><br>
    https://pub.dev/packages/hive/license</li>

    <li><span class="fw-bold">pretty_qr_code</span><br>
    https://pub.dev/packages/pretty_qr_code/license</li>

    <li><span class="fw-bold">smooth_page_indicator</span><br>
    https://pub.dev/packages/smooth_page_indicator/license</li>

    <li><span class="fw-bold">easy_localization</span><br>
    https://pub.dev/packages/easy_localization/license</li>

    <li><span class="fw-bold">flutter_vector_icons</span><br>
    https://pub.dev/packages/flutter_vector_icons/license</li>

    <li><span class="fw-bold">modal_bottom_sheet</span><br>
    https://pub.dev/packages/modal_bottom_sheet/license</li>

    <li><span class="fw-bold">flutter_statusbarcolor_ns</span><br>
    https://pub.dev/packages/flutter_statusbarcolor_ns/license</li>

    <li><span class="fw-bold">app_settings</span><br>
    https://pub.dev/packages/app_settings/license</li>

    <li><span class="fw-bold">qr_mobile_vision</span><br>
    https://pub.dev/packages/qr_mobile_vision/license</li>

    <li><span class="fw-bold">cupertino_icons</span><br>
    https://pub.dev/packages/cupertino_icons/license</li>

    <li><span class="fw-bold">url_launcher</span><br>
    https://pub.dev/packages/url_launcher/license</li>

    <li><span class="fw-bold">dart_cose</span><br>
    https://pub.dev/packages/dart_cose/license</li>

    <li><span class="fw-bold">dart_base45</span><br>
    https://pub.dev/packages/dart_base45/license</li>

    <li><span class="fw-bold">vibration</span><br>
    https://pub.dev/packages/vibration/license</li>

    <li><span class="fw-bold">country_codes</span><br>
    https://pub.dev/packages/country_codes/license</li>

    <li><span class="fw-bold">intl</span><br>
    https://pub.dev/packages/intl/license</li>

    <li><span class="fw-bold">http</span><br>
    https://pub.dev/packages/http/license</li>

    <li><span class="fw-bold">collection</span><br>
    https://pub.dev/packages/collection/license</li>

    <li><span class="fw-bold">introduction_screen</span><br>
    https://pub.dev/packages/introduction_screen/license</li>

    <li><span class="fw-bold">shared_preferences</span><br>
    https://pub.dev/packages/shared_preferences/license</li>

    <li><span class="fw-bold">introduction_screen</span><br>
    https://pub.dev/packages/introduction_screen/license</li>
  </ul>


</div>


