<footer class="footer w-100 py-1">
  <div class="d-flex justify-content-between flex-column flex-md-row container">
    <span class="p-2 small text-gray text-center text-md-start d-block order-2 order-md-1 pt-0 pt-md-2">© GreenPass App 2021</span>

    <div class="d-flex justify-content-center justify-content-lg-end order-1 order-md-2">
      <a class="link p-2 small text-gray footer__link pb-0 pb-md-2" routerLink="presskit">Press Kit</a>
      <span class="text-gray py-2 pb-0 pb-md-2">|</span>
      <a class="link p-2 small text-gray footer__link pb-0 pb-md-2" routerLink="imprint">{{ 'FOOTER.IMPRINT' | translate }}</a>
      <span class="text-gray py-2 pb-0 pb-md-2">|</span>
      <a class="link p-2 pb-0 pb-md-2 small text-gray footer__link" routerLink="privacy">{{ 'FOOTER.PRIVACY' | translate }}</a>
    </div>
  </div>

</footer>
