<div class="my-5 max-w-1000">
  <h1 class="fw-bold text-center py-4">Impressum</h1>

  <p>Bei diesem Projekt handelt es sich um ein Open Source Projekt und kann somit von der Community weiterentwickelt und
    gewartet werden. Der gesamte Source Code der App sowie dieser Website kann in diesem GitHub Repository eingesehen werden:
    <a href="https://github.com/GreenPassApp" target="_blank">https://github.com/GreenPassApp</a></p>

  <p>Das Projekt wurde von folgenden Personen ins Leben gerufen, welche auch gleichzeitig verantwortlich für das
    bestehende Konzept, das Design sowie den Inhalt der App und dieser Website sind:</p>
  <div class="row pt-4">
    <div class="col-12 col-md-4">
      <small class="fw-bold">App Development</small>
      <p>Kevin Händel<br>
        Softwarepark 31b/6<br>
        4232 Hagenberg<br>
        Österreich<br>
        <a href="mailto:">kevinhaendel@gmail.com</a><br>
        <a href="mailto:">+43 650 400 14 62</a>
      </p>
    </div>

    <div class="col-12 col-md-4">
      <small class="fw-bold">App & Backend Development</small>
      <p>Jakob Stadlhuber<br>
        Softwarepark 105/TOP 15<br>
        4232 Hagenberg<br>
        Österreich<br>
        <a href="mailto:">jakob@stadlhuber.org</a><br>
        <a href="mailto:">+43 650 400 14 62</a>
      </p>
    </div>

    <div class="col-12 col-md-4">
      <small class="fw-bold">UI/UX & Web Development</small>
      <p>Lisa-Maria Schedlberger<br>
        Softwarepark 31b/6<br>
        4232 Hagenberg<br>
        Österreich<br>
        <a href="mailto:">lisa@schedlberger.net</a><br>
        <a href="mailto:">+43 650 400 14 62</a>
      </p>
    </div>
  </div>
</div>


