$blue: #135ACF;
$red: #FF5048;
$green: #50AF64;

.detail {
  background: $blue;
  color: white;
  border-radius: 20px;
  width: 400px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);

  margin: 0 auto -50px;

  &__icon {
    font-size: 3.5rem;
    border: 5px solid #fff;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin: 0 auto;
  }
}
