/* You can add global styles to this file, and also import other style files */

@import "node_modules/bootstrap/scss/bootstrap-grid";
@import "scss/variables";
@import "scss/faq";
@import "scss/header";
@import "scss/footer";
@import "scss/headvisual";
@import "scss/validation-field";
@import "scss/downloads";
@import "scss/icon";
@import "scss/card";
@import "scss/typo.scss";

#content, .content {
  padding-top: 77px;
}

video::-webkit-media-controls-panel {
  // Your styling here
  background-image: linear-gradient(transparent, transparent) !important; //Transparent for your case
  // background-color: #333 !important;
}

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  @include media-breakpoint-up(lg) {
    min-height: 100%;

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -48px;
  }

}

.footer,
.push {
  @include media-breakpoint-up(lg) {
    height: 48px;
  }
}

.max-w-1000 {
  max-width: 1000px;
  margin: 0 auto;
}

.max-h-100 {
  max-height: 100vh;
}

body {
  font-family: 'Inter', Arial, sans-serif;
  background-color: rgba(235, 236, 237, 0.3);
  color: #333333;
  font-weight: 300;
}

.text-dark {
  color: #333333 !important;
}

.text-gray {
  color: #989898;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

a {
  color: $green;
  transition: all 200ms ease-in-out;

  &:hover, &:focus {
    color: #989898;
    transition: all 200ms ease-in-out;
  }
}

.container-fluid {
  padding: 0;
}

/* colors */
$blue: #135ACF;
$red: #FF5048;
$green: #50AF64;

/* inter-300 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/inter-v3-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('./fonts/inter-v3-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/inter-v3-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/inter-v3-latin-300.woff') format('woff'), /* Modern Browsers */
  url('./fonts/inter-v3-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/inter-v3-latin-300.svg#Inter') format('svg'); /* Legacy iOS */
}

/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/inter-v3-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('./fonts/inter-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/inter-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/inter-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('./fonts/inter-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/inter-v3-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
}

/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/inter-v3-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('./fonts/inter-v3-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/inter-v3-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/inter-v3-latin-700.woff') format('woff'), /* Modern Browsers */
  url('./fonts/inter-v3-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/inter-v3-latin-700.svg#Inter') format('svg'); /* Legacy iOS */
}

.flag {
  padding: 8px 16px;
  outline: none;
  background: none;
  border: none;

  &__img {
    width: 24px;
    height: 24px;
    // border: 1px solid #333;
    // border-radius: 50%;

    &--big {
      width: 36px;
      height: 36px;
      // border: 2px solid #333;
    }
  }
}
