/* You can add global styles to this file, and also import other style files */

body{
  font-family: 'Inter' , sans-serif;
  background-color: rgba(235, 236, 237, 0.3);
}

.container-fluid{
  padding: 0;
}
