.footer {
  background-color: #333;

  &__link {
    transition: all 200ms ease-in-out;

    &:hover {
      color: lightgray;
      transition: all 200ms ease-in-out;
    }
  }

  &__logo {
    max-width: 280px;

    @include media-breakpoint-up(md) {
      max-width: 260px;
    }

    @include media-breakpoint-up(lg) {
      max-width: 300px;
    }
  }
}
