.header {
  z-index: 1000;

  &__logo {
    width: 32px;
    height: 32px;
  }

  &__nav {
    z-index: 100;
    &__item {
      border-bottom: 4px solid white;
      transition: all 200ms ease-in-out;

      &:hover, &:focus {
        border-bottom: 4px solid $green;
        transition: all 200ms ease-in-out;
      }
    }

    &--mobile {
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      background: $lightgray;
      z-index: 10;

      &__item {
        background: white;
        border-radius: 10px;
      }

      &__link {

      }
    }
  }

  &__langnav {

    &__button {
      padding: 8px 16px;
      background: none;
      border: none;
      border-bottom: 4px solid white;

      &--mobile {
        padding: 0;
        background: none;
        border: none;
        border-bottom: 4px solid white;
      }

      &.isOpen i {
        transform: rotate(180deg);
        transition: all 250ms ease-in-out;
      }

      i {
        transition: all 250ms ease-in-out;
      }
    }

    &__flag {
      width: 24px;
      height: 24px;
    }

    &__langs {
      background: white;
      border: 1px solid $bg-color;

      &--mobile {
        border: none;
      }

      &__item {
        &:hover, &:focus {
          background: $bg-color;
        }
      }

      &.isClosed {
        display: none;
      }
    }
  }
}

.menu-icon {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;

  .menu-icon__checkbox {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    z-index: 2;
    -webkit-touch-callout: none;
    position: absolute;
    opacity: 0;
  }
  div {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 22px;
    height: 13px;
  }
  span {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #333;
    border-radius: 1px;
    transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);

    &:first-of-type {
      top: 0;
    }
    &:last-of-type {
      bottom: 0;
    }
  }
  &.active,
  .menu-icon__checkbox:checked + div {
    span {
      &:first-of-type {
        transform: rotate(45deg);
        top: 5px;
      }
      &:last-of-type {
        transform: rotate(-45deg);
        bottom: 5px;
      }
    }
  }

  &.active:hover span:first-of-type,
  &.active:hover span:last-of-type,
  &:hover .menu-icon__checkbox:checked + div span:first-of-type,
  &:hover .menu-icon__checkbox:checked + div span:last-of-type {
    width: 22px;
  }

  &:hover {
    // no need hover effect on mobile.
    @media (min-width: 1024px) {
      span:first-of-type {
        width: 26px;
      }

      span:last-of-type {
        width: 12px;
      }
    }
  }
}
