.headvisual {
  @include media-breakpoint-up(lg) {
    max-width: 1000px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: -1.5rem;
    height: 85vh;
  }

  &--header {
    @include media-breakpoint-up(lg) {
      img {
        position: relative;
        margin: 15.5rem 0 !important;
      }
    }
  }

  &__image {
    max-height: 100%;
    object-fit: contain;

    @include media-breakpoint-up(lg) {
      left: 2rem;
      width: 90%;
      position: relative;
    }

    &--right {
      @include media-breakpoint-up(lg) {
        right: 2rem;
        left: auto;
        width: 90%;
        position: relative;
      }
    }

  }

  &--small  {
   // height: 60vh;
  }
}
