.validation-field {
  //background: $blue;
  color: white;
  border-radius: 20px;
  width: 100%;
 @include media-breakpoint-up(md) {
   min-width: 400px;
   max-width: 500px;
 }


  &.valid {
    background: $green;
  }

  &.invalid {
    background: $red;
  }

  &.default {
    background: $blue;
  }

  &__icon {
    border: 3px solid white;
    height: 80px;
    width: 80px;
    margin: 0 auto;
    font-size: 2rem;
    border-radius: 50%;

    &--empty {
      border: 3px solid $dark;
    }
  }

  &__profile {
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;

  }

  &__container {
    max-height: 90vh;
    height: calc(100vh - 145px);

    @include media-breakpoint-up(md) {
      height: calc(100vh - 132px);
    }
  }
}
