.validation-field {
  //background: $blue;
  color: white;
  border-radius: 20px;
  min-width: 400px;

  &.valid {
    background: $green;
  }

  &.invalid {
    background: $red;
  }

  &.default {
    background: $blue;
  }

  &__icon {
    border: 3px solid white;
    height: 80px;
    width: 80px;
    margin: 0 auto;
    font-size: 2rem;
    border-radius: 50%;
  }
}
