.validation-field {
  //background: $blue;
  color: white;
  border-radius: 20px;
  width: 100%;
 @include media-breakpoint-up(md) {
   min-width: 400px;
   max-width: 500px;
 }


  &.valid {
    background: $green;
  }

  &.invalid {
    background: $red;
  }

  &.default {
    background: $blue;
  }

  &__icon {
    border: 3px solid white;
    height: 80px;
    width: 80px;
    margin: 0 auto;
    font-size: 2rem;
    border-radius: 50%;
  }

  &__container {
    max-height: 90vh;
  }
}
